<% presskits.each do |presskit| %>
  <% if presskit.media.present? %>
    <div class="presskit-title">
      <a href=<%= presskit_path(presskit.id, to_slug(presskit.title)) %>>
      <%= t('presskit.view_with_title', title: presskit.title) %></a>
    </div>
  <% end %>
<% end %>
