<section class="row" id="pressroom_description">
  <div class="default_content_block">
    <h6><%= "#{t('pressroom.about')} #{pressroom.name}" %></h6>
    <p><%= pressroom.description.html_safe %></p>
  </div>
</section>
